@model Anagrafica

@{
    ViewData["Title"] = "Aggiungi Anagrafica";
}

<h1 class="text-center fw-bold">Registra nuovo trasgressore</h1>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form class="form-FPA" asp-action="AddAnagrafica">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p class="title-FPA">Aggiungi Anagrafica</p>
                <p class="message-FPA"></p>
                <div class="flex-FPA">
                    <label class="label-FPA">
                        <input asp-for="Nome" class="input-FPA" type="text" placeholder="" required="">
                        <span>Nome</span>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </label>

                    <label class="label-FPA">
                        <input asp-for="Cognome" class="input-FPA" type="text" placeholder="" required="">
                        <span>Cognome</span>
                        <span asp-validation-for="Cognome" class="text-danger"></span>
                    </label>
                </div>

                <label class="label-FPA">
                    <input asp-for="Indirizzo" class="input-FPA" type="text" placeholder="" required="">
                    <span>Indirizzo</span>
                    <span asp-validation-for="Indirizzo" class="text-danger"></span>
                </label>

                <label class="label-FPA">
                    <input asp-for="Città" class="input-FPA" type="text" placeholder="" required="">
                    <span>Città</span>
                    <span asp-validation-for="Città" class="text-danger"></span>
                </label>

                <label class="label-FPA">
                    <input asp-for="CAP" class="input-FPA" type="text" placeholder="" required="">
                    <span>CAP</span>
                    <span asp-validation-for="CAP" class="text-danger"></span>
                </label>
                <label class="label-FPA">
                    <input asp-for="Cod_Fisc" class="input-FPA" type="text" placeholder="" required="">
                    <span>Codice fiscale</span>
                    <span asp-validation-for="Cod_Fisc" class="text-danger"></span>
                </label>
                <input type="submit" value="Registra" class="btn btn-primary submit-FPA fw-bold" />
                <button type="button" asp-action="Index" class="btn btn-secondary fw-bold border-button">Torna alla home</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
