@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold index-title p-3">Welcome to ImperialHotel</h1>
    <p class="testo-medio">Accedi per vedere le prenotazioni attuali delle nostre stanze.</p>

    <br />
    <p class="testo-medio">Se sei un dipendente, puoi accedere con un account admin per aggiungere prenotazioni e servizi</p>
</div>
