@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome to ImperialHotel</h1>
    <p>Accedi per vedere le prenotazioni attuali delle nostre stanze.</p>

    <br />
    <p>Se sei un dipendente, puoi accedere con un account admin per aggiungere prenotazioni e servizi</p>
</div>
