@{
    ViewData["Title"] = "Visualizza Prenotazioni";
}
<h1>@ViewData["Title"]</h1>

<p>Ricercare le prenotazioni effettuate da un cliente in base al codice fiscale</p>

<p>Ricercare il numero totale di prenotazioni per i soggiorni di tipo “pensione completa”</p>
