@{

}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="cookieCard">
                <p class="cookieHeading">Log in now</p>
                <p class="cookieDescription">Accedi al sito</p>
                <a class="acceptButton" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="cookieCard">
                <p class="cookieHeading">Register now</p>
                <p class="cookieDescription">Registrati per accedere al sito</p>
                <a class="acceptButton" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
</div>