@model User

@{
}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card-login">
                <span class="card-login__title">Subscribe</span>
                <p class="card-login__content">
                    Accedi per vedere gli aggiornamenti sulle tue spedizioni
                </p>
                <form asp-action="Login" class="card-login__form">
                    <input placeholder="Username" type="text" asp-for="Username">
                    <input placeholder="Password" type="password" asp-for="Password">
                    <button class="sign-up-login">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>