html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Generali/Layout */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #faf0e1;
}

.bg-nav {
    background: #751948;
}

.hotel-logo {
    width: 6em;
    border-radius: 100%
}

/* AuthPage */

.cookieCard {
  width: 300px;
  height: 200px;
  background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.cookieCard::before {
  width: 150px;
  height: 150px;
  content: "";
  background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

.cookieHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription a {
  color: rgb(241, 241, 241);
}

.acceptButton {
  padding: 11px 20px;
  background-color: #7b57ff;
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.acceptButton:hover {
  background-color: #714aff;
  transition-duration: .2s;
}

/* Login (Account) */

.card-login {
  width: 240px;
  height: 304px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border: solid 1px black;
  border-radius: 20px;
}

.card-login > * {
  margin: 0;
}

.card-login__title {
    font-size: 23px;
    font-weight: 900;
    color: #333;
}

.card-login__content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.card-login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-login__form input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #333;
  color: black;
}

.card-login__form button, .query-button {
  border: 0;
  background: #111;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}

.sign-up-login:hover {
  opacity: 0.8;
} 

/* Form Customers (CustomerController) */

.form-box-dao {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form-dao {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title-dao {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle-dao {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container-dao {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input-dao {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}

.span-dao {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    font-size: .9rem;
    padding: 4px 8px;
}

.form-section-dao {
  padding: 16px;
  font-size: .85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section-dao a {
  font-weight: bold;
  color: #0066ff;
  transition: color .3s ease;
}

.form-section-dao a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form-dao button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form-dao button:hover {
  background-color: #005ce6;
}

/* Form prenotazioni (ReservationController) */

/* ADD ANAGRAFICA/VERBALE/VIOLAZIONE */

.form-FPA {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title-FPA {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}

.title-FPA::before {
  width: 18px;
  height: 18px;
}

.title-FPA::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title-FPA::before,
.title-FPA::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message-FPA,
.signin-FPA {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin-FPA {
    text-align: center;
}

.signin-FPA a:hover {
  text-decoration: underline royalblue;
}

.signin-FPA a {
  color: #00bfff;
}

.flex-FPA {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form-FPA .label-FPA {
    position: relative;
}

.form-FPA .label-FPA .input-FPA {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-FPA .label-FPA .input-FPA + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-FPA .label-FPA .input-FPA:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form-FPA .label-FPA .input-FPA:focus + span,
.form-FPA .label-FPA .input-FPA:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input-FPA {
    font-size: medium;
}

.submit-FPA {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}

.submit-FPA:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}